@font-face {
    font-family: Figtree-ExtraBold;
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}
@font-face {
    font-family: Figtree-Medium;
    src: url(./assets/fonts/static/Figtree-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);

    --value:24px;
}

body{
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--value);
    background-color: var(--Yellow);
}

/* THIS IS FOR TEXT */
.Text-preset-1{
    font-family: Figtree-ExtraBold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}
.Text-preset-2{
    font-family: Figtree-Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}
.Text-preset-3{
    font-family: Figtree-Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}
.Text-preset-3-Bold{
    font-family: Figtree-ExtraBold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

/* THIS IS BLOG CARD DESIGN */
.blog-card{
    width: 385px;
    background-color: var(--White);
    padding: 24px;
    border-radius: 20px;
    border: 2px solid var(--Gray-950);
    box-shadow: 8px 8px var(--Gray-950) ;
}

.blog-card__blog-image{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: var(--value);
}

.blog-card__content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: var(--value);
}
.blog-card__content--button{
    display: block;
    width: fit-content;
    padding:4px 12px;
    border-radius: 4px;
    background-color: var(--Yellow);
    border: none;
}
.blog-card__content--publish-date{
    color: var(--Gray-950);
}
.blog-card__content--secondary-text{
    color: var(--Gray-500);
}

.blog-card__author{
    display: flex;
    align-items: center;
    gap: 12px;
}
.blog-card__author--pic{
    width: 32px;
    height: 32px;
}

@media (max-width: 420px) {
    .Text-preset-1{
        font-size: 20px;
    }
    .Text-preset-2{
        font-size: 14px;
    }
    .Text-preset-3{
        font-size: 12px;
    }
    body{
        margin: var(--value) auto;
    }
    .blog-card{
        max-width: 327px;
        height: 501px;
    }
    .blog-card__blog-image{
        height: 200px;
        width: 100%;
        margin-bottom: 0;
    }
}